---
import Card from "../components/BlogPreviewCard.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <main>
    <h1>Hello<span class="text-gradient"> Friend</span></h1>
    <p><a href="/blog/" class="text-gradient">Visit the Blog!</a></p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    color: white;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0px 0px 80px 0px;
    color: white;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
